.about {
   display: flex;
   width: 90%;
   justify-content: space-between;
  // background-color: #00000000;
   //make background image blur
   //backdrop-filter: blur(20px);
   padding: 50px;
   font-size: larger;
   margin: auto;
   border-radius: 30px;
   .left{

    img{
      width: 150px;
      height: 150px;
      
    }
       display: flex;
       //flex-direction: column;
      // align-items: center;
       justify-content: center;
       width: 45%;
       .avatar{
           img{
            border-radius: 50%;
             overflow: hidden;
               width: 150px;
               height: 150px;
               border-radius: 50%;
           }
           
       }
       .details{
        display: flex;
        flex-direction: column;
        gap: 30px;
        h2{
          font-size: 40px;
        }
        .dev-shreyash2{
            color: #000000;
            font-size: 50px;
            margin-top: 10px;
            margin-left: -10px;
        }

        .socials{
          display: flex;
          flex-direction: column;

          .links{
            gap: 10px;
            display: flex;
            font-size: 40px;
          }
        }
       }
   }

   .right{
    width: 45%;
    //border: 1px solid #fff;
    //padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    background-color: #ffffff00;
    p{
        color: #121212;
        font-size: 20px;
    }
    h1{
      font-size: 50px;
    }
    .main-headings{
      .boxes{
        display: flex;
        align-items: center;
        justify-content: space-between;
        //add project-made style to nth childrens of boxes
       
        .project-made{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-size: 20px;
          border: 1px solid #535353;
          padding: 20px;
          border-radius: 10px;
          color: #fff;
          background-color: #12121273;
          .icon{
            padding: 10px;
            border-radius: 10px;
            background-color: #03b26c;
          }
          h2{
            color: #e0e0e0d1;
          }
          span{
            color: #fff;
            font-size: 20px;
          }
        }
        .experience{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-size: 20px;
          border: 1px solid #535353;
          padding: 20px;
          border-radius: 10px;
          color: #fff;
          background-color: #12121273;
          .icon{
            padding: 10px;
            border-radius: 10px;
            background-color: #03b26c;
          }
          h2{
            color: #e0e0e0d1;
          }
          span{
            color: #fff;
            font-size: 20px;
          }
        }
        .streak{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-size: 20px;
          border: 1px solid #535353;
          padding: 20px;
          border-radius: 10px;
          color: #fff;
          background-color: #12121273;
          .icon{
            padding: 10px;
            border-radius: 10px;
            background-color: #03b26c;
          }
          h2{
            color: #e0e0e0d1;
          }
          span{
            color: #fff;
            font-size: 20px;
          }
        }
      }
        }
   }
 
  }
  .about:hover .zig-zag-line {
    --a: 180deg; /* New angle when hovered */
  }