@import "../../styles/responsive.scss";

.about {
  display: flex;
  width: 90%;
  justify-content: space-between;
  // background-color: #00000000;
  //make background image blur
  //backdrop-filter: blur(20px);
  padding: 50px;
  font-size: larger;
  margin: auto;
  border-radius: 30px;

  .split-word {
    display: inline-block;
    opacity: 0;
    /* Ensure words start as hidden */

  }

  @include sm {
    width: 100%;
    padding: 15px;
    flex-direction: column;
  }

  .left {

    @include sm {
      width: 100%;
    }

    p {
      word-break: normal;
      /* Prevents words from breaking mid-word */
      overflow-wrap: break-word;
      /* Ensures long words break to fit within the container */
      hyphens: auto;
      /* Allows automatic hyphenation where supported */
      line-height: 1.5;
      /* Improves readability with balanced spacing */
      font-family: "Playwrite US Modern Guides", cursive;
      font-weight: 400;
      font-style: normal;
    }

    img {
      width: 150px;
      height: 150px;

      @include sm {
        width: 100px;
        height: 100px;
      }

    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;

    .avatar {
      img {
        border-radius: 50%;
        overflow: hidden;
        width: 150px;
        height: 150px;
        border-radius: 50%;


      }

    }

    .details {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 100%;
      height: 100%;

      .main-details {
        .text-name>*:not(:first-child) {
          font-family: "Playwrite US Modern Guides", cursive;
          font-weight: 400;
          font-style: normal;

          .dev-shreyash2 {
            b {

              @include sm {
                font-size: 20px;
              }
            }
          }


        }


      }

      .bio {

        .heading{
          // @include sm {
          //   font-size: 30px;
          //   color: #000000;
          // }
        }
        .bio-text {
          font-family: "Playwrite US Modern Guides", cursive;
          font-weight: 400;
          font-style: normal;
        }
      }

      .other{
        a{
          text-decoration: none;
          color: #130fdd;
          font-family: "Playwrite US Modern Guides", cursive;
          font-weight: 400;
          font-style: normal;
        }
      }

      .heading-mid {
        .tech-stack {
          .tech-icons {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
            /* Adjust the width of each column */
            gap: 20px;
            /* Space between icons */
            justify-items: center;
            /* Center the icons horizontally */
            align-items: center;
            /* Center the icons vertically */
            margin-top: 20px;

            svg {
              width: 50px;
              height: 50px;
              margin: 10px;
            }
          }
        }
      }

      h2 {
        font-size: 40px;
      }

      .dev-shreyash2 {
        color: #000000;
        font-size: 50px;
        margin-top: 10px;
        margin-left: -10px;

        @include sm {
          font-size: 40px;
          right: -10px;
          position: relative;
        }
      }

      .education {
        display: flex;
        flex-direction: column;


        .edu-data {
          font-family: "Playwrite US Modern Guides", cursive;
          font-weight: 400;
          font-style: normal;
        }

        .links {
          gap: 10px;
          display: flex;
          font-size: 40px;
        }
      }
    }
  }

  .right {

    @include sm {
      width: 100%;
    }
    width: 45%;
    //border: 1px solid #fff;
    //padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    background-color: #ffffff00;

    p {
      word-break: keep-all;
      /* Prevents breaking words unless absolutely necessary */
      white-space: normal;
      /* Ensures normal text wrapping */
      overflow-wrap: break-word;
      /* Allows long words to break if needed */
      line-height: 1.5;
      /* Improves readability with consistent line spacing */
      max-width: 100%;
      /* Ensures the paragraph does not overflow its parent */
      box-sizing: border-box;
    }


    p {
      font-family: "Playwrite US Modern Guides", cursive;
      font-weight: 400;
      font-style: normal;
      color: #121212;
      font-size: 20px;
    }

    h1 {
      font-size: 50px;
    }

    .main-headings {
      .boxes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        //add project-made style to nth childrens of boxes

        .project-made {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-size: 20px;
          border: 1px solid #535353;
          padding: 20px;
          border-radius: 10px;
          color: #fff;
          background-color: #12121273;

          .icon {
            padding: 10px;
            border-radius: 10px;
            background-color: #03b26c;
          }

          h2 {
            color: #e0e0e0d1;
          }

          span {
            color: #fff;
            font-size: 20px;
          }
        }

        .experience {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-size: 20px;
          border: 1px solid #535353;
          padding: 20px;
          border-radius: 10px;
          color: #fff;
          background-color: #12121273;

          .icon {
            padding: 10px;
            border-radius: 10px;
            background-color: #03b26c;
          }

          h2 {
            color: #e0e0e0d1;
          }

          span {
            color: #fff;
            font-size: 20px;
          }
        }

        .streak {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-size: 20px;
          border: 1px solid #535353;
          padding: 20px;
          border-radius: 10px;
          color: #fff;
          background-color: #12121273;

          .icon {
            padding: 10px;
            border-radius: 10px;
            background-color: #03b26c;
          }

          h2 {
            color: #e0e0e0d1;
          }

          span {
            color: #fff;
            font-size: 20px;
          }
        }
      }
    }
  }

}

.about:hover .zig-zag-line {
  --a: 180deg;
  /* New angle when hovered */
}